.wrapper{
    height: calc(100vh - 70px);
}.h1 {
    height: 70vh;
    width: 100%;
    background-image: url('../../assets/Landing/landing.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    padding: 0 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.head {
    font-size: xxx-large;
    font-weight: bolder;
    width: 35%;
    color: #1A2B8B;
    margin-bottom: 30px;

}

.btn {
    height: 40px;
    width: 120px;
    cursor: pointer;
    color: white;
    background-color: blue;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subHead{
    font-size: xx-large;
    font-weight: bold;
    position: relative;
    text-align: center;
}

.h2{
    margin: 50px 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subHead::after{
content: " ";
position: absolute;
width: 80px;
height: 4px;
background-color: #1A2B8B;
bottom: -30px;
left: calc(50% - 40px);
}
.msg{
    font-size: large;
    color: gray;
    margin: 100px 0;
    width: 80%;
    text-align: center;

}

.h3{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.footer{
    background: #1A2B8B;
    height: 60px;
    width: 100%;
}